.elementor-kit-7 {
    --e-global-color-primary: #1B1B25;
    --e-global-color-secondary: #F34A3A;
    --e-global-color-text: #787878;
    --e-global-color-accent: #FFFFFF;
    --e-global-color-75596bf: #2B2B3B;
    --e-global-color-e70d107: #F3F3F7;
    --e-global-color-2ff08b6: #FFFFFF;
    --e-global-color-02c8e62: #F34A3A6E;
    --e-global-color-1ae9039: #E4E4E5;
    --e-global-color-c3b6f23: #F3B53A;
    --e-global-typography-primary-font-family: "Merriweather";
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-secondary-font-family: "Merriweather";
    --e-global-typography-secondary-font-weight: 700;
    --e-global-typography-text-font-family: "Lato";
    --e-global-typography-text-font-size: 17px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.8em;
    --e-global-typography-accent-font-family: "Fjalla One";
    --e-global-typography-accent-font-size: 15px;
    --e-global-typography-accent-font-weight: 400;
    --e-global-typography-accent-text-transform: capitalize;
    --e-global-typography-accent-font-style: normal;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-accent-letter-spacing: 1px;
    --e-global-typography-5bf9363-font-family: "Fjalla One";
    --e-global-typography-5bf9363-font-size: 48.83px;
    --e-global-typography-5bf9363-font-weight: 400;
    --e-global-typography-5bf9363-text-transform: capitalize;
    --e-global-typography-5bf9363-font-style: normal;
    --e-global-typography-5bf9363-text-decoration: none;
    --e-global-typography-5bf9363-line-height: 1.3em;
    --e-global-typography-1c87261-font-family: "Fjalla One";
    --e-global-typography-1c87261-font-size: 42.3px;
    --e-global-typography-1c87261-font-weight: 400;
    --e-global-typography-1c87261-text-transform: capitalize;
    --e-global-typography-1c87261-font-style: normal;
    --e-global-typography-1c87261-text-decoration: none;
    --e-global-typography-1c87261-line-height: 1.3em;
    --e-global-typography-3996acf-font-family: "Fjalla One";
    --e-global-typography-3996acf-font-size: 31.25px;
    --e-global-typography-3996acf-font-weight: 400;
    --e-global-typography-3996acf-text-transform: capitalize;
    --e-global-typography-3996acf-font-style: normal;
    --e-global-typography-3996acf-text-decoration: none;
    --e-global-typography-3996acf-line-height: 1.4em;
    --e-global-typography-ff316bb-font-family: "Fjalla One";
    --e-global-typography-ff316bb-font-size: 25px;
    --e-global-typography-ff316bb-font-weight: 400;
    --e-global-typography-ff316bb-text-transform: capitalize;
    --e-global-typography-ff316bb-font-style: normal;
    --e-global-typography-ff316bb-text-decoration: none;
    --e-global-typography-ff316bb-line-height: 1.4em;
    --e-global-typography-80786c8-font-family: "Fjalla One";
    --e-global-typography-80786c8-font-size: 20px;
    --e-global-typography-80786c8-font-weight: 400;
    --e-global-typography-80786c8-text-transform: capitalize;
    --e-global-typography-80786c8-font-style: normal;
    --e-global-typography-80786c8-text-decoration: none;
    --e-global-typography-80786c8-line-height: 1.5em;
    --e-global-typography-fe27a10-font-family: "Fjalla One";
    --e-global-typography-fe27a10-font-size: 16px;
    --e-global-typography-fe27a10-font-weight: 400;
    --e-global-typography-fe27a10-text-transform: capitalize;
    --e-global-typography-fe27a10-font-style: normal;
    --e-global-typography-fe27a10-text-decoration: none;
    --e-global-typography-fe27a10-line-height: 1.6em;
    --e-global-typography-465eeac-font-family: "Fjalla One";
    --e-global-typography-465eeac-font-size: 65px;
    --e-global-typography-465eeac-font-weight: 400;
    --e-global-typography-465eeac-text-transform: capitalize;
    --e-global-typography-465eeac-font-style: normal;
    --e-global-typography-465eeac-text-decoration: none;
    --e-global-typography-465eeac-line-height: 1.3em;
    --e-global-typography-88e51a4-font-family: "Lato";
    --e-global-typography-88e51a4-font-size: 15px;
    --e-global-typography-88e51a4-font-weight: 400;
    --e-global-typography-88e51a4-text-transform: none;
    --e-global-typography-88e51a4-font-style: normal;
    --e-global-typography-88e51a4-text-decoration: none;
    --e-global-typography-88e51a4-line-height: 1.8em;
    background-color: var( --e-global-color-e70d107);
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-kit-7 button,
.elementor-kit-7 input[type="button"],
.elementor-kit-7 input[type="submit"],
.elementor-kit-7 .elementor-button {
    background-color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    text-transform: var( --e-global-typography-accent-text-transform);
    font-style: var( --e-global-typography-accent-font-style);
    text-decoration: var( --e-global-typography-accent-text-decoration);
    letter-spacing: var( --e-global-typography-accent-letter-spacing);
    color: var( --e-global-color-accent);
    border-radius: 10px 10px 10px 10px;
    padding: 15px 25px 15px 25px;
}

.elementor-kit-7 button:hover,
.elementor-kit-7 button:focus,
.elementor-kit-7 input[type="button"]:hover,
.elementor-kit-7 input[type="button"]:focus,
.elementor-kit-7 input[type="submit"]:hover,
.elementor-kit-7 input[type="submit"]:focus,
.elementor-kit-7 .elementor-button:hover,
.elementor-kit-7 .elementor-button:focus {
    background-color: var( --e-global-color-primary);
    color: var( --e-global-color-accent);
    border-radius: 10px 10px 10px 10px;
}

.elementor-kit-7 e-page-transition {
    background-color: #FFBC7D;
}

.elementor-kit-7 a:hover {
    color: var( --e-global-color-secondary);
}

.elementor-kit-7 h1 {
    color: var( --e-global-color-75596bf);
    font-family: var( --e-global-typography-5bf9363-font-family), Sans-serif;
    font-size: var( --e-global-typography-5bf9363-font-size);
    font-weight: var( --e-global-typography-5bf9363-font-weight);
    text-transform: var( --e-global-typography-5bf9363-text-transform);
    font-style: var( --e-global-typography-5bf9363-font-style);
    text-decoration: var( --e-global-typography-5bf9363-text-decoration);
    line-height: var( --e-global-typography-5bf9363-line-height);
}

.elementor-kit-7 h2 {
    color: var( --e-global-color-75596bf);
    font-family: var( --e-global-typography-1c87261-font-family), Sans-serif;
    font-size: var( --e-global-typography-1c87261-font-size);
    font-weight: var( --e-global-typography-1c87261-font-weight);
    text-transform: var( --e-global-typography-1c87261-text-transform);
    font-style: var( --e-global-typography-1c87261-font-style);
    text-decoration: var( --e-global-typography-1c87261-text-decoration);
    line-height: var( --e-global-typography-1c87261-line-height);
}

.elementor-kit-7 h3 {
    color: var( --e-global-color-75596bf);
    font-family: var( --e-global-typography-3996acf-font-family), Sans-serif;
    font-size: var( --e-global-typography-3996acf-font-size);
    font-weight: var( --e-global-typography-3996acf-font-weight);
    text-transform: var( --e-global-typography-3996acf-text-transform);
    font-style: var( --e-global-typography-3996acf-font-style);
    text-decoration: var( --e-global-typography-3996acf-text-decoration);
    line-height: var( --e-global-typography-3996acf-line-height);
}

.elementor-kit-7 h4 {
    color: var( --e-global-color-75596bf);
    font-family: var( --e-global-typography-ff316bb-font-family), Sans-serif;
    font-size: var( --e-global-typography-ff316bb-font-size);
    font-weight: var( --e-global-typography-ff316bb-font-weight);
    text-transform: var( --e-global-typography-ff316bb-text-transform);
    font-style: var( --e-global-typography-ff316bb-font-style);
    text-decoration: var( --e-global-typography-ff316bb-text-decoration);
    line-height: var( --e-global-typography-ff316bb-line-height);
}

.elementor-kit-7 h5 {
    color: var( --e-global-color-75596bf);
    font-family: var( --e-global-typography-80786c8-font-family), Sans-serif;
    font-size: var( --e-global-typography-80786c8-font-size);
    font-weight: var( --e-global-typography-80786c8-font-weight);
    text-transform: var( --e-global-typography-80786c8-text-transform);
    font-style: var( --e-global-typography-80786c8-font-style);
    text-decoration: var( --e-global-typography-80786c8-text-decoration);
    line-height: var( --e-global-typography-80786c8-line-height);
}

.elementor-kit-7 h6 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-fe27a10-font-family), Sans-serif;
    font-size: var( --e-global-typography-fe27a10-font-size);
    font-weight: var( --e-global-typography-fe27a10-font-weight);
    text-transform: var( --e-global-typography-fe27a10-text-transform);
    font-style: var( --e-global-typography-fe27a10-font-style);
    text-decoration: var( --e-global-typography-fe27a10-text-decoration);
    line-height: var( --e-global-typography-fe27a10-line-height);
}

.elementor-kit-7 label {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-kit-7 input:not([type="button"]):not([type="submit"]),
.elementor-kit-7 textarea,
.elementor-kit-7 .elementor-field-textual {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-text);
    background-color: #02010100;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-1ae9039);
    border-radius: 10px 10px 10px 10px;
}

.elementor-kit-7 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-7 textarea:focus,
.elementor-kit-7 .elementor-field-textual:focus {
    border-radius: 10px 10px 10px 10px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1280px;
}

.e-con {
    --container-max-width: 1280px;
    --container-default-padding-top: 90px;
    --container-default-padding-right: 30px;
    --container-default-padding-bottom: 90px;
    --container-default-padding-left: 30px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(min-width:2400px) {
    .elementor-kit-7 {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-7 h1 {
        font-size: var( --e-global-typography-5bf9363-font-size);
        line-height: var( --e-global-typography-5bf9363-line-height);
    }
    .elementor-kit-7 h2 {
        font-size: var( --e-global-typography-1c87261-font-size);
        line-height: var( --e-global-typography-1c87261-line-height);
    }
    .elementor-kit-7 h3 {
        font-size: var( --e-global-typography-3996acf-font-size);
        line-height: var( --e-global-typography-3996acf-line-height);
    }
    .elementor-kit-7 h4 {
        font-size: var( --e-global-typography-ff316bb-font-size);
        line-height: var( --e-global-typography-ff316bb-line-height);
    }
    .elementor-kit-7 h5 {
        font-size: var( --e-global-typography-80786c8-font-size);
        line-height: var( --e-global-typography-80786c8-line-height);
    }
    .elementor-kit-7 h6 {
        font-size: var( --e-global-typography-fe27a10-font-size);
        line-height: var( --e-global-typography-fe27a10-line-height);
    }
    .elementor-kit-7 button,
    .elementor-kit-7 input[type="button"],
    .elementor-kit-7 input[type="submit"],
    .elementor-kit-7 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-kit-7 label {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-7 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-7 textarea,
    .elementor-kit-7 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
}

@media(max-width:1366px) {
    .elementor-kit-7 {
        --e-global-typography-465eeac-font-size: 60px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-7 h1 {
        font-size: var( --e-global-typography-5bf9363-font-size);
        line-height: var( --e-global-typography-5bf9363-line-height);
    }
    .elementor-kit-7 h2 {
        font-size: var( --e-global-typography-1c87261-font-size);
        line-height: var( --e-global-typography-1c87261-line-height);
    }
    .elementor-kit-7 h3 {
        font-size: var( --e-global-typography-3996acf-font-size);
        line-height: var( --e-global-typography-3996acf-line-height);
    }
    .elementor-kit-7 h4 {
        font-size: var( --e-global-typography-ff316bb-font-size);
        line-height: var( --e-global-typography-ff316bb-line-height);
    }
    .elementor-kit-7 h5 {
        font-size: var( --e-global-typography-80786c8-font-size);
        line-height: var( --e-global-typography-80786c8-line-height);
    }
    .elementor-kit-7 h6 {
        font-size: var( --e-global-typography-fe27a10-font-size);
        line-height: var( --e-global-typography-fe27a10-line-height);
    }
    .elementor-kit-7 button,
    .elementor-kit-7 input[type="button"],
    .elementor-kit-7 input[type="submit"],
    .elementor-kit-7 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-kit-7 label {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-7 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-7 textarea,
    .elementor-kit-7 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
}

@media(max-width:1200px) {
    .elementor-kit-7 {
        --e-global-typography-465eeac-font-size: 50px;
    }
}

@media(max-width:1024px) {
    .elementor-kit-7 {
        --e-global-typography-465eeac-font-size: 70px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-7 h1 {
        font-size: var( --e-global-typography-5bf9363-font-size);
        line-height: var( --e-global-typography-5bf9363-line-height);
    }
    .elementor-kit-7 h2 {
        font-size: var( --e-global-typography-1c87261-font-size);
        line-height: var( --e-global-typography-1c87261-line-height);
    }
    .elementor-kit-7 h3 {
        font-size: var( --e-global-typography-3996acf-font-size);
        line-height: var( --e-global-typography-3996acf-line-height);
    }
    .elementor-kit-7 h4 {
        font-size: var( --e-global-typography-ff316bb-font-size);
        line-height: var( --e-global-typography-ff316bb-line-height);
    }
    .elementor-kit-7 h5 {
        font-size: var( --e-global-typography-80786c8-font-size);
        line-height: var( --e-global-typography-80786c8-line-height);
    }
    .elementor-kit-7 h6 {
        font-size: var( --e-global-typography-fe27a10-font-size);
        line-height: var( --e-global-typography-fe27a10-line-height);
    }
    .elementor-kit-7 button,
    .elementor-kit-7 input[type="button"],
    .elementor-kit-7 input[type="submit"],
    .elementor-kit-7 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-kit-7 label {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-7 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-7 textarea,
    .elementor-kit-7 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:880px) {
    .elementor-kit-7 {
        --e-global-typography-465eeac-font-size: 60px;
    }
}

@media(max-width:767px) {
    .elementor-kit-7 {
        --e-global-typography-text-font-size: 16px;
        --e-global-typography-5bf9363-font-size: 28.83px;
        --e-global-typography-1c87261-font-size: 25.63px;
        --e-global-typography-3996acf-font-size: 22.78px;
        --e-global-typography-ff316bb-font-size: 20.25px;
        --e-global-typography-80786c8-font-size: 18px;
        --e-global-typography-fe27a10-font-size: 16px;
        --e-global-typography-465eeac-font-size: 45px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-7 h1 {
        font-size: var( --e-global-typography-5bf9363-font-size);
        line-height: var( --e-global-typography-5bf9363-line-height);
    }
    .elementor-kit-7 h2 {
        font-size: var( --e-global-typography-1c87261-font-size);
        line-height: var( --e-global-typography-1c87261-line-height);
    }
    .elementor-kit-7 h3 {
        font-size: var( --e-global-typography-3996acf-font-size);
        line-height: var( --e-global-typography-3996acf-line-height);
    }
    .elementor-kit-7 h4 {
        font-size: var( --e-global-typography-ff316bb-font-size);
        line-height: var( --e-global-typography-ff316bb-line-height);
    }
    .elementor-kit-7 h5 {
        font-size: var( --e-global-typography-80786c8-font-size);
        line-height: var( --e-global-typography-80786c8-line-height);
    }
    .elementor-kit-7 h6 {
        font-size: var( --e-global-typography-fe27a10-font-size);
        line-height: var( --e-global-typography-fe27a10-line-height);
    }
    .elementor-kit-7 button,
    .elementor-kit-7 input[type="button"],
    .elementor-kit-7 input[type="submit"],
    .elementor-kit-7 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-kit-7 label {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-7 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-7 textarea,
    .elementor-kit-7 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}